    body{
        background-color: rgba(0,0,0);
    }
    font{
        width:100%;
    }
    .message{
        display: inline-block;
        position: relative;
        width: 100%;
        /*background:rgba(0,0,0,.3);*/
        background:rgba(0,0,0);
    }
    .message{
        margin: 0 auto;
        padding: 0;
        color: #fff;
        text-decoration:none;
    }
    .message h3{
        margin: 0 auto;
        padding: 0;
        color: #fff;
        text-decoration:none;
    }
    .message h3:hover{
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
    .tag{
        position: relative;
        display: inline-block;
        height: 20px;
        text-align: center;
    }
    .tag a{
        color: #fff;
        text-decoration:none;
    }
    .background{
        position: relative;
        display: block;
        width: 100%;
        background-color: #0c0a66;
    }